<a href="http://localhost:4300/editor/{{diary.date}}">
  <div class="card border border-primary" [style.width.rem]="width" [style.height.rem]="height">
    <img class="card-img img-fluid" src="{{image}}" alt="Card image cap" (error)="onImageLoadingError()">
    <div class="card-img-overlay d-flex align-items-end">
      <div class="card-img-overlay-item rounded">
        <h4 class="card-title text-dark" *ngIf="diary.title">{{diary.title}}</h4>
        <p class="card-text text-dark">{{diary.date | date: 'shortDate'}}</p>
      </div>
    </div>
  </div>
</a>
